@charset "UTF-8";
*{
   margin: 0; 
   padding: 0;
   font-family: "맑은 고딕"
}
a{ text-decoration: none; }

li{ list-style-type:none; }
/*---------------------------------------------------------------*/
#header{ 
	display:flex;
	justify-content:center;
	width: 100%;
	background-color: #E22219;
	align-items: center;

}
.header_content{
	font-family: SDGothic,HGG,Malgun Gothic,"\B9D1\C740\ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
	width: 1184px;
	padding-top: 10px;

}
.top_logo{
	display:flex;
	color:white;
	text-align: center;
	margin-bottom: 20px;
}
.top_logo h3{
	text-align: center;
	padding-left: 10px;
}
.top_menu{ 
	text-align: right;
	font-size: 15px;
	color: white;
	font-weight: bold;
	padding: 10px;

}
.bottom_menu{
	display: flex;
	justify-content: space-between;
	margin-top:10px;
	text-align: center;

}
.sign_up{ 
	width : 160px; height:50px;
	margin: 20px;
    right: 20px;
    bottom: 35px;
	border-radius: 25px;
	background-color: #512314;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
	}
.sub_header{ 
	background-color: #000000;
	width: 100%;
	display: flex;
	justify-content: center;
}
.sub_menu{ 
	width: 1184px; height: 40px;
	color: white;
	padding-top: 15px;
	font-weight: bold;
	font-size: 15px;
}
